body {
    min-width: 100vh;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

div {
    color: white;
}

.heading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading-text {
    position: absolute;
    text-align: center;
    font-size: 40px;
    bottom: 90%;
}

#count {
    bottom: 92%;
    left: 80%;
}

.alert {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.success-text {
    position: absolute;
    text-align: center;
    bottom: 80%;
    font-size: 45px;
    animation: fadeIn 2.5;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        bottom: 80%;
    }

    90% {
        visibility: visible;
        opacity: 1;
        bottom: 84%;
    }

    100% {
        bottom: 84%;
        opacity: 0;
    }
}


#bowl-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 3em;
}

.containers {
    display: flex;
    gap: 3em;
    align-items: center;
}


#craft-button {
    max-width: 15ch;
    min-width: 15ch;
    aspect-ratio: 2 / 1;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(0, 119, 230);
    font-size: 15px;
    border: 2px solid white;
    color: white;
    transition: transform 200ms;
}

#craft-button:hover {
    transform: scale(1.1);
    background-color: rgb(0, 132, 255);
}

#craft-button:active {
    transform: scale(0.85);
}

#empty-button {
    max-width: 15ch;
    min-width: 15ch;
    aspect-ratio: 2 / 1;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(221, 11, 57);
    font-size: 15px;
    border: 2px solid white;
    color: white;
    transition: transform 200ms;
}

#empty-button:hover {
    transform: scale(1.1);
    background-color: rgb(253, 18, 69);
}

#empty-button:active {
    transform: scale(0.85);
}

#button-actions {
    display: flex;
    gap: 1em;
}


#bowl {
    min-width: 200px;
    width: fit-content;
    aspect-ratio: 3 / 2;
    background-color: white;
    border-bottom: 0px solid white 50%;
    border-radius: 3px 3px 50% 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    background-image: url("https://media.istockphoto.com/id/185071482/photo/brushed-metal-background.jpg?s=612x612&w=0&k=20&c=yWaGSvjDevBUNSWx3_u-JF9YOnYvZUoASGmAtVlJAnI=");
}


#oven {
    min-width: 256px;
    min-height: 256px;
    background-image: url("https://www.veryicon.com/download/png/food--drinks/kitchenware-1/oven-10?s=256");
}

@keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

.ingredients {
    position: absolute;
    min-height: 94%;
    max-height: 94%;
    width: fit-content;
    box-shadow: 2px 2px 3px #333333;
    background-color: #aaaaaa33;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    overflow-y: scroll;
    gap: 3em;
}

.ingredient {
    overflow: hidden;
    width: 7em;
    text-overflow: ellipsis;
    text-align: center;
    min-height: 7em;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ingredient:hover {
    transform: scale(1.1);
}

.recipie {
    position: absolute;
    visibility: hidden;
    display: none;
    z-index: 1;
}


.ingredient:hover .recipie {
    position: relative;
    display: inline;
    visibility: visible;
    color: currentColor;
}

.ingredient:hover {
    overflow: unset;
    text-overflow: unset;
    word-wrap: break-word;
    display: flex;
}

.ingredient:hover::before{
    position: absolute;
    border-bottom: 1px solid;
    padding: 0.3em;
    top: 100%;
    content: attr(data-name);
}

.hidden {
    display: none;
}
